body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 0;
  text-align: center;
}

.container__start {
  text-align: center;
  padding: 20rem;
}

.container__start__description {
  display: block;
  padding: 3rem 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

[data-name='start-quiz'] {
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid black;
  opacity: 0.7;
  transition: all 1s ease;
  font-family: 'Roboto', sans-serif;
}

[data-name='start-quiz']:hover {
  padding: 0.7rem;
  opacity: 1;
}

[data-name='start-quiz']:disabled {
  opacity: 0.2;
}

.container__questions {
  text-align: center;
  padding: 20rem;
  display: none;
}

.container__questions__form {
  width: 400px;
  margin: 0 auto;
}

.container__questions__question {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 0.5rem;
  background-color: black;
  color: white;
}

.container__questions__answers {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin: 0 auto;
}

.container__questions__answers input[type='radio'] {
  display: none;
}

.container__questions__submit__form {
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid black;
  margin-top: 1rem;
  opacity: 0.5;
  font-family: 'Roboto', sans-serif;
  transition: all 1s ease;
}

.container__questions__submit__form:hover {
  opacity: 1;
  padding: 0.7rem;
}

.container__questions__submit__form:disabled {
  opacity: 0.2;
}

.container__questions__answer {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}
.container__questions__answer label {
  background-color: grey;
  color: white;
  padding: 0.7rem 0.3rem;
  display: inline-block;
  width: 98%;
  transition: all 0.3s ease;
}

.container__questions__answer label:hover {
  background-color: darkgray;
}

.container__questions__answer input[type='radio']:checked + label {
  background-color: black;
}

.container__finish {
  display: none;
  text-align: center;
  padding: 20rem;
  width: 400px;
  margin: 0 auto;
}

.container__finish h3 {
  background-color: black;
  color: white;
  padding: 2rem;
  margin: 0;
}

.elapsed__time__container,
.correct__answers__container,
[data-name='quizStatus'] {
  padding: 1rem;
  background-color: grey;
  color: white;
}

[data-name='elapsedTime'],
[data-name='correctAnswers'] {
  color: black;
  font-weight: bold;
}

[data-name='quizStatus'] {
  color: #b94f2c;
  font-weight: bold;
}

[data-name='restart'] {
  background-color: transparent;
  border: 1px solid black;
  transition: all 1s ease;
  opacity: 0.5;
  padding: 0.5rem;
  margin-top: 2rem;
}

[data-name='restart']:hover {
  opacity: 1;
  padding: 0.7rem;
}
